header {
    padding: 20px;  
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, lightblue,blue); 
    text-align: center;
    font-weight: 600;
    color:white;
    font-size: xx-large;
}

.wrap-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
}

.allWeather {
    width: 80%;
}

#search {
    background-color: lightblue;
    color:white;
    display: flex;
    flex-direction: row;
}

#currentWeather {
    background-color: lightblue;
    color:white;
}

#futureWeather {
    display: flex;
    justify-content: space-between;
}